body::-webkit-scrollbar{
    display: none;
}

.searchHeader {
    background: radial-gradient(circle, rgba(129,173,190,1) 0%, rgba(0,112,144,1) 67%);
}

.game-bg {
    background: linear-gradient(320deg,#007090,#a3bac3,#539eb4);
    background-size: 180% 180%;
    animation: gradient-anim 9s ease infinite;
}
  
@keyframes gradient-anim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}